
{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}


{% block title %}
    爱鲜蜂 | 首页
{% endblock %}

{% block content %}
    <div class="home">
{#    顶部轮播图#}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                {% for wheel in wheels %}
                    <div class="swiper-slide">
                        <img src="{{ wheel.img }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
{#        导航条#}
        <div class="nav">
            <ul>
                {% for nav in navs %}
                    <li>
                        <a href="#">
                            <img src="{{ nav.img }}" alt="">
                            <span>{{ nav.name }}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>

{#        每日必购#}
        <div class="swiper-container" id="mustbuySwiper">
            <div class="swiper-wrapper">
                {% for mustbuy in mustbuys %}
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ mustbuy.img }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        </div>

{#        商品#}
        <div class="shop">
            <div class="shophead">
                <a href="#">
                    <img src="{{ shophead.img }}">
                </a>
            </div>
            <div class="shoptab">
                {% for shoptab in shoptabs %}
                    <a href="#">
                        <img src="{{ shoptab.img }}">
                    </a>
                {% endfor %}
            </div>
            <ul class="shopclass">
                {% for shopclass in shopclasses %}
                    <li>
                        <a href="#">
                            <img src="{{ shopclass.img }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="shopcommend">
                {% for shopcommend in shopcommends %}
                    <li>
                        <a href="#">
                            <img src="{{ shopcommend.img }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
